@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --head-font: "Baloo 2", cursive;
    --main-font: "PT Sans", sans-serif;
    --head-color: rgb(60, 55, 49);
    --main-color: rgb(149, 139, 126);
    --accent-color: rgb(237, 100, 53);
    --burger-links-color: rgb(107, 107, 107);
}

h1 {
    color: var(--head-color);
    font-family: var(--head-font);
    font-size: 48px;
    font-weight: 700;
    line-height: 45px;
}