.body.lock {
    overflow: hidden;
}

.header__container-main-top-row-nav {
    display: none;
    visibility: hidden;
}

.header__container-main-top-row-nav.active {
    display: contents;
    visibility: visible;
    background-color: #ffefd5;
    position: fixed;
    top: 0; 
    right: 0; 
    bottom: 0;
    left: 0; 
    z-index: 99;
}

.header__container-main-top-row-nav-menu.active {
    background-color: #ffefd5;
    position: fixed;
    top: 0; 
    right: 0; 
    bottom: 0;
    left: 0; 
    z-index: 99;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    text-align: center;
}

.header__container-main-top-row-nav-link {
    color: var(--burger-links-color);
    font-family: var(--main-font);
    font-weight: 700;
    padding-top: 25px;
    text-decoration: none;
}

.header__container-main-top-row-nav-link:hover {
    text-decoration: underline;
}

.header__container-main-top-row-nav-menu-addit-info {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
}

.header__burger-info {
    color: var(--accent-color);
    font-family: var(--main-font);
    font-weight: 700;
    margin-top: 0px;
    text-decoration: none;
}
.email:hover, .phone:hover {
    text-decoration: underline;
}

.header__burger-social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.social-icon {
    height: auto;
    width: 30px;
    padding-left: 15px;
}